#map2{
    height: 90vh;
}
#map3{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 99;
}
.hidden2{
    opacity: 0;
    z-index: -10 !important;
}

/*UI*/
.close{
    position: absolute;
    z-index: 999;
    right: 20px;
    top: 20px;
    cursor: pointer;
}
.mapBackground{
    background: #706f6f;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 98;
}

/*Popup*/
.maplibregl-popup-tip{
    display: none;
}
.maplibregl-popup-content{
    pointer-events: none;
    background: none;
    box-shadow: none;
    padding: inherit !important;
    padding: 10px;
}
.tooltip-wrapper span{
    line-height: 24px;
    background: rgba(0, 0, 0, 0.5);
}
.tooltip-wrapper{
    font-size: 14px;
    font-family: "Anonymous Pro", sans-serif;
}
.maplibregl-popup{
    left: 120px;
    top: 100px;
}

@media screen and (max-width: 768px) {
    .maplibregl-ctrl-group button{
        width: 35px;
        min-width: inherit;
        height: 35px;
        min-height: inherit;
    }
}